/*-------------------------------------------------------------
	CSS for Words with Friends - Login Template
	Devan Sayles, Chelsea Carr, Matt Durak
	CSE 480
--------------------------------------------------------------*/

section#login {
	width: 20em;
	margin: auto;
	margin-top: 20px;
	border: 1px solid #aaa;
    padding: 1em;
}

section#register {
	width: 20em;
	margin: auto;
	margin-top: 20px;
	border: 1px solid #aaa;
    padding: 1em;
}


#login, #register {
	background-color: #FFFFFF;
}

form, form div {
    overflow: auto;
}

form input, #register_birthdate {
    float: right;
	margin: 8px;
}

#show-reg {
    margin: 0 auto 1em auto;
    text-align: center;
}

#show-reg a {
    text-decoration: none;
}

input:invalid, textarea:invalid {
    background-color: #efd3d2;
}