/*-------------------------------------------------------------
	CSS for Words with Friends - Login Template
	Devan Sayles, Chelsea Carr, Matt Durak
	CSE 480
--------------------------------------------------------------*/

section#login {
	width: 75%;
	margin: auto;
	margin-top: 20px;
	border: 1px solid #000;
}

section#register {
	width: 75%;
	margin: auto;
	margin-top: 20px;
	border: 1px solid #000;
}

h2 {
	margin-left: 10px;
}
#reg-form {
	margin-left: 30px;
}

#login, #register {
	background-color: #FFFFFF;
}
label {
	width: 33%;
	margin: 8px;
}

input {
	margin: 8px;
}