/*-------------------------------------------------------------
	CSS for Words with Friends - Login Template
	Devan Sayles, Chelsea Carr, Matt Durak
	CSE 480
--------------------------------------------------------------*/

section#login {
	width: 30%;
	margin-top: 20px;
    margin: 20px 0 0 10%;
	border: 1px solid #aaa;
    padding: 1em;
    float: left;
}

section#register {
	width: 20em;
	margin: 20px 10% 0 0;
	border: 1px solid #aaa;
    padding: 1em;
    float: right;
}

#flashReg, #flashLogin {
    top: 0.5em;
    width: 100%;
    text-align: center;
    float: none;
    font-style: italic;
    color: #650604;
}



#login, #register {
	background-color: #FFFFFF;
}

form, form div {
    overflow: auto;
}
form .form-row {
    margin: 1em 0 1em 0;
}

form input, #register_birthdate {
    float: right;
}

form label {
}

#show-reg {
    margin: 0 auto 1em auto;
    text-align: center;
}

#show-reg a {
    text-decoration: none;
}

input:invalid, textarea:invalid {
    background-color: #efd3d2;
}