<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Words with Strangers</title>
        <meta name="description" content="">

        <meta name="viewport" content="width=device-width">
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/css/boilerplate-style.css" />
        <link rel="stylesheet" type="text/css" href="/css/base-template-style.css" />
        {% endblock %}

        <script src="/js/libs/modernizr-2.5.3.min.js"></script>
    </head>
    <body>
        {% block infobar %}
        <header id="infobar">
            {% if user %}
			<div class="left">Logged in as: {{ user.username }}</div>
            <ul id="infobar-nav">
                <li><a href="#">Edit Profile (TODO)</a></li>
                <li><a href="{{ path('logout') }}">Logout</a></li>
            </ul>
            {% else %}
            <div>Log in below</div>
            {% endif %}
            
            {% if app.session.hasFlash('infobar') %}
            <div id="flash-top">
            {{ app.session.flash('infobar') }}
            </div>
            {% endif %}
        </header>
        {% endblock %}

        <div class="wrapper">
            <section id="banner">
                <a class="ir" href="{{ path('welcome') }}">
                    <h1>Words With Strangers</h1>
                </a>
            </section>

            <div id="main" role="main">
                {% block main %}
                {# All the page-specific stuff goes here #}
                {% endblock %}
            </div>

            <footer id="footer">
                {% block footer %}
                <p>Words With Strangers &copy; 2012 was built by Chelsea Carr, Matt Durak, and Devan Sayles.</p>
                {% endblock %}
            </footer>
        </div>
        
        <!-- Google CDN for jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
        
        <!-- Insert other scripts here or on specific pages -->
        {% block scripts %}
        <script src="/js/script.js"></script>
        {% endblock %}

    </body>
</html>