<li id="from-{{id}}">
    Challenge from {{name}}
    <a href="{{ path('accept_challenge', {'id': cid}) }}" class="start-1player-game-button btn btn-small">Accept</a>
    <a href="{{ path('decline_challenge', {'id': cid}) }}" class="start-1player-game-button btn btn-small">Deny</a>
</li>