{% extends "base-template.html.twig" %}

{% block main %}
	
    <section id="leaders">
        <h1>Words with Strangers Leaderboard</h1>
        <ul>
            {% for leader in leaders %}
			<li>{{leader.username}}, {{leader.totalScore}} {% if leader.isActive %} Online {% else %} Offline {% endif %}
			{% endfor %}
        </ul>
    </section>

{% endblock %}