{% extends "base-template.html.twig" %}

{% block main %}
	
    <section id="leaders">
        <h1>Words with Strangers Leaderboard</h1>
        <ol>
            {% for leader in leaders %}
			<li>{{leader.username}}</li>
			<ul>
				<li>Total Score: {{leader.totalScore}}</li>
				<li>Current Status: {% if leader.isActive %}Online {% else %}Offline {% endif %}</li>
			</ul>
			{% endfor %}
        </ol>
    </section>

{% endblock %}