{% extends "base-template.html.twig" %}

{% block main %}
	<section id="login">
		<h2>Login</h2>
		<form action="/login-check" method="post">
  	        <label for="email">Email</label>
  		    <input type="text" name="email" id="email" />
            
  		    <label for="password">Password</label>
  		    <input type="password" name="password" id="password" />
            
  		    <input type="submit" class="login-button" value="Login"/>
  	      </form>
	</section>
	
	<section id="register">
		<h2>Register</h2>
		<form action="/register-check" method="post">
  		    <input type="submit" class="register-button" value="Register Now"/>
            
            <label for="email">Email</label>
  		    <input type="text" name="email" id="email" />
            
  		    <label for="password">Password</label>
  		    <input type="password" name="password" id="password" />
            
			<label for="FirstName">First Name</label>
  		    <input type="text" name="FirstName" id="FirstName" />
            
			<label for="LastName">Last Name</label>
  		    <input type="text" name="LastName" id="LastName" />
  	    </form>
	</section>
{% endblock %}