{% extends "base-template.html.twig" %}

{% block main %}

	<section id="player1-stats">
	
	</section>
	
	<section id="game-display">
	
	</section>
	
	<section id="player2-stats">
	
	</section>

{% endblock %}