
<form class="hidden" id="reg-form" action="{{ path('register') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" class="register-button" value="Register" />
</form>