{% extends "base-template.html.twig" %}

{% block main %}
	<section id="leaderboard">
		<h2>Words with Strangers Leaderboard</h2>
		<p>Some sort of list/view of highest-scoring users</p>
		<p>{{user.email}}</p>
	</section>
	
	<section id="welcome-options">
		<ul id="options-list">
			<li><a href="#" title="Start 1-Player Game">Start 1-Player Game</a></li>
			<li><a href="#" title="Send a Challenge">Send a Challenge</a></li>
	</section>
	
	<section id="challenges">
		<h2>Challenges</h2>
		<p>View of challenges recieved, options to accept/deny them</p>
	</section>
	
	<section id="gamelist">
		<h2>Games in Progress</h2>
		<ul>
			{% for game in games %}
				<li>Game {{ game.id}}</li>
				{% else %}
					<li> No games </li>
			{% endfor %}
		</ul>
	</section>

{% endblock %}