<li id="to-{{id}}">
    Challenge to {{id}}
    {% if game %}
    <a href="{{path('multi_player', {'id':game})}}" class="start-1player-game-button btn btn-small">Go to game</a>
    {% else %}
    {{ status }}
    {% endif %}
</li>