<li id="from-{{id}}">
    Challenge from {{id}}
    <a href="#" class="start-1player-game-button btn btn-small">Accept</a>
    <a href="#" class="start-1player-game-button btn btn-small">Deny</a>
</li>